/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-acccent-variant: var(--color-orange);
    --color--text: var(--color-white);

    /* Colors */
--color-white: #fff;
--color-black: #050a13;
--color-blue: #03e8f9;
--color-orange: #fd6413;
--color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color--text);
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

button:focus {
    outline: 1px solid transparent;
}
/* Common */
.section {
    padding: 4rem;
    text-align: center;
}
.max-container {
    max-width: var(--size-max-width);    /* 웹사이트 최대 크기 제한 복습하기 */
    margin: auto; /* 마진이 auto로 하여 중간 정렬을 필수로 해주어야 한다. */
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* Header */
.header {
    background-color: transparent; /* 투명하게*/
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;  /* (header태그가 가장 높은곳으로) fixed 포지션된 헤더가 스크롤되면서 가려지지 않게 하기 위함 */
    transition: all 300ms ease;
}

.header--dark {
    background-color: var(--color-orange);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}
.header__logo__title {
    font-size: 1.8rem;
}

.header__toggle {
    display: none;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid var(transparent); /*display 블럭으로 변경하면서 아래로 밀리는 현상 해결*/
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */

#home {
    background: var(--color-primary);
    color: var(--color--text);
    padding: 5rem 1rem;
    padding-top: 7rem;  
    text-align: center;
}


.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;  /* 이미지 원래 비율을 유지할 수 있는 코드 */
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);  
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--color-black);
    border-radius: 4px;
}
.home__contact:hover {
    background-color: transparent;
    color: var(--color--text);
    /* border: 2px solid var(--color-accent); // 컨텐츠 안에 영향을 줘 사이즈가 변경됌 */
    outline: 2px solid var(--color-accent); 
}

/* About */

.majors {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color--text);
    border-radius: 1rem;
    cursor: default; /* 마우스커서가 텍스트로 인식하지 못하게*/ 
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;  /*복습하기 */
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

 .major:hover .major__icon {       /*복습하기 */
    transform: rotate(-15deg) scale(1.2);
}

.jobs {
    text-align: start;
}

.job {
    display: flex; /* 해당 블럭태그를 인라인 수평으로 */
    align-items: center; /*오뎅꼬치 수직방향*/
    gap: 8px;  /*이미지태그와 p태그 사이의 갭*/
    margin-bottom: 1rem;
}
.job__name {
    color: var(--color-primary);
}

.job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

/* Skills */

#skills {
    background-color: var(--color-primary-variant);
    color: var(--color--text);
}
.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;    /* 그리드에는 레디우스가 적용되어 있지만 coding블럭 배경이 그리드 밖으로 나와서 그런다 */
    overflow: hidden;  /* 자식요소가 부모밖으로 css가 나오는걸 방지하는 코드 */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__coding {
    grid-row: span 2;  /* 해당 태그 아이템을 그리드의 열 span 2로 차지하면서 만든다. */
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);      /* 동일한 컬러에서 밝기를 조절해서 다른 컬러감을 연출*/

}

.bar {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    background-color: var(--color-accent);
    height: 3px;
}

/* Work */

#work {
    background-color: var(--color-primary);
    color: var(--color--text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative; /* category__count 포지션 absolute를 사용하기 위해 그 위 부모 */
    color: var(--color--text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer; /* 커서를 손가락 모양으로 */
    white-space: nowrap;  /* 자동 줄 바꿈 안함 */
}

.category--selected {
    color: var(--color-primary);
    background-color: var(--color-accent);
}

.category__count {
    opacity: 0; /* 화면에 보여지지 않음 */
    position: absolute;      /* 근접한 부모중 스테틱이 아닌 부모는 바디 */
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-acccent-variant);
    color: var(--color--text);
    transition: all 250ms ease-in;
}

.category--selected .category__count,    /* selected태그 안에있는 count 이거나 */
.category:hover .category__count {        /* 카테고리버튼에 마우스가 올라갔을때 그 안에 있는 count를*/
    opacity: 1;       /* 화면에 보이게 한다 */
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    position: relative;
    border-radius: 8px;     /* 이미지 아래 텍스트가 있으면 radius가 적용 안됌*/
    overflow: hidden;
}

.project__img {
    width: 100%;      /* 부모의 너비 기준 */
}

.project__metadata {
    position: absolute;    /* 기존 문서에서 빠져나오는 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;  /* 배경 어두움 조절 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__title:after {    /* html에 의미 없는 div태그를 추가해서 스타일을 넣는 방식 대신*/
    content: '';  /* 내용은 빈공간이고 */
    display: block;  /* 블럭요소인 */
    position: relative;  /* 위치는 상대적으로*/
    left: 50%; /* title 다음 위치 블럭에서 50% 왼쪽*/
    transform: translateX(-50%);  /* 수평축으로 50% 왼쪽이동*/
    margin: 0.5rem 0;
    width: 80px;
    height: 2px;
    background-color: var(--color-accent);
}

 /* Testimonial */
.testimonials {
    margin: 3rem;
}

.testimonial {
    display: flex;
    gap: 2rem;
    align-items: center;   /* Y축에서 오뎅꼬치*/
    margin-bottom: 2rem;
}
.testimonial:nth-child(even) .testimonial__img {   /*해당태그 "nth-child"선택자 사용후 even(짝수 요소)*/
    order: 1; /* 0부터 시작, 1로 지정하면 순서가 뒤로 밀려남*/
}
.testimonial__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 0.06),
    0px 1px 1px -0.5px rgb(0 0 0 / 0.06),
    0px 3px 3px -1.5px rgb(0 0 0 / 0.06), 
    0px 6px 6px -3px rgb(0 0 0 / 0.06),
    0px 12px 12px -6px rgb(0 0 0 / 0.06),
    0px 24px 24px -12px rgb(0 0 0 / 0.06);
}

.testimonial__bubble {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 0.06),
    0px 1px 1px -0.5px rgb(0 0 0 / 0.06),
    0px 3px 3px -1.5px rgb(0 0 0 / 0.06), 
    0px 6px 6px -3px rgb(0 0 0 / 0.06),
    0px 12px 12px -6px rgb(0 0 0 / 0.06),
    0px 24px 24px -12px rgb(0 0 0 / 0.06);

}

.testimonial__bubble__name {
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
}
/* Arrow up */

.arrow-up {
    transition: all 250ms ease-in;
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;     /* a태그 x축 꼬치이동*/
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}


/* Footer */

#contact {
    background-color: var(--color-primary);
    color: var(--color--text);
}

.conteact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.contact__link {
    transition: all 250ms ease-in;
}
.contact__link:hover {
    color: var(--color-accent);
}


@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }

    .title {
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);   /* 미디어쿼리시 배경색 추가*/
    }
    .header__toggle {
        display: block;
        color: var(--color-white);
        font-size: 1.5rem;
        position: absolute; /* 기존 플렉스 clumn 방향에서 벗어나서*/
        top: 1.3rem;
        right: 1rem;  /* 오른쪽 기준에서 1rem 간격*/
        
    }
    .header__menu {
        display: none; /* 미디어 쿼리 안에선 우선 보이지 않게 함*/
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;  /*js의 toggle 함수를 사용해 open클래스가 있는 경우 */
    }
    .header__nav { /* 미디어쿼리에서만 사용하는 클래스 따로 추가*/
        width: 100%;
    }

    #home {
        padding-bottom: 3rem;
    }
    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column;
        align-items: center; /* 꼬치방향 Y축 방향이 column경우 보통 사용*/
    }

    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }
    
    .skills-container {
        grid-template-columns: 1fr;
    }
    
    .categories {
        flex-direction: column;
    }

    .category {
        width: 80%;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial:nth-child(even) .testimonial__img {   
        order: 0; 
    }

    .arrow-up {
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}